body {
  background-color: #666;
}

.jumbotron h1 {
    color: #333333;
    transition: color 2s;
}

.jumbotron h1:hover {
    color:green;
    transition: color 2s;
}
i {
  size:30px;
}

a{
  font-size: 1.5em;
}

.jumbotron p{
  margin-top: 40px;
}
